In [1]:
# Simple Python datatypes

# Numbers: Intergers and Floats
# Integers
2+2 # addition

4

In [2]:
2*2 # multiplication

4

In [3]:
4-2 # Subtraction

2

In [4]:
4/3 # Division

1.3333333333333333

In [5]:
2**4 # 2 to the power of 4

16

In [6]:
2+4*8+8

42

In [7]:
# using paranthesis

(2+4)*(8+8)

96

In [8]:
# mod 

4 % 3

1

In [9]:
6 % 3

0

In [10]:
# variable assignements, variable names cannot start with numbers, special characters

A = 3

In [11]:
A

3

In [12]:
a = 2
b = 3

a+b

5

In [13]:
# Lets discuss strings

'single quote'

'single quote'

In [14]:
"Double Quote"

'Double Quote'

In [15]:
# wrap double or single quotes
" This a probles I can't solve"

" This a probles I can't solve"

In [16]:
# print

x = 'Hi'
x

'Hi'

In [17]:
print(x) # note quotes are missing

Hi

In [20]:
# print formatting
num = 14
name = 'Sac'

In [21]:
print ('My number is {} and my name is {}'.format(num, name))

My number is 14 and my name is Sac

In [22]:
# 2nd option ,note the order can be changed now

print ('My number is {one} and my name is {two}, more {one}'.format(two = name, one = num))

My number is 14 and my name is Sac, more 14

In [25]:
# How to index strings

x = 'Name'

In [26]:
x[0] # returns the first element

'N'

In [27]:
x[3] #returns the last element

'e'

In [28]:
# using slices

y = 'abcdefghijkl'

In [30]:
y[1:] # grab everything beyond 1 st letter

'bcdefghijkl'

In [31]:
y[:4] # grab everyhting upto but not including index 4 'e'

'abcd'

In [33]:
y[4:7] # set different start and end points

'efg'

In [34]:
# Now lets discuss lists

[2,4,6]

[2, 4, 6]

In [35]:
# list of strings

['x', 'y', 'z']

['x', 'y', 'z']

In [36]:
li = ['x', 'y', 'z']

# append items to this list

li.append('a')

In [37]:
li

['x', 'y', 'z', 'a']

In [40]:
# reassign the values

li[0] = 'v'

In [41]:
li

['v', 'y', 'z', 'a']

In [42]:
# nested lists

nested = [1,2, [3,4]]

In [43]:
nested

[1, 2, [3, 4]]

In [44]:
# grab items from nested list

nested[2][1]

4

In [45]:
# Distionares

dic = {'key1': 'value1', 'key2': 'value2'}

In [46]:
dic['key1']

'value1'

In [47]:
dic = {'k1': [1,2,3]}

In [49]:
mylist = dic['k1']

In [50]:
mylist

[1, 2, 3]

In [51]:
dic = {'k1':{'innerkey':[1,2,3]}}

In [53]:
dic['k1']['innerkey'][0]

1

In [54]:
# Boolean

#Only 2 values True or False

In [55]:
# Tuples similar to lists but use () and immutable, cannot change item withing a tuple

tup = (1,2,3)

In [56]:
tup

(1, 2, 3)

In [57]:
# Set 

# collection of unique elements similar to dictionaries

set1 = {1,2,3}

In [58]:
set1

{1, 2, 3}

In [59]:
set2 ={1,2,2,2,44,5,5}

In [60]:
set2

{1, 2, 5, 44}

In [61]:
# add items to a set
set2.add(25)

In [62]:
set2

{1, 2, 5, 25, 44}

In [64]:
# Comparison operators

# > , < , == , !=

1==1

True

In [65]:
1< 1

False

In [66]:
# using strings

'Hello' == 'Hi'

False

In [67]:
'Hello' != 'Hi'

True

In [68]:
# logincal operators

# and / or

(1 < 2) and (2> 3)

False

In [69]:
(1 < 2) or (2> 3)

True

In [70]:
# if , elif and else statements

if 4 < 5:
    print('Correct')

Correct

In [75]:
if 3 == 2:
    print ('T')
elif 7 == 7:
    print('M')
else:
    print('F')

M

In [77]:
# For and While loops

s = [1,2,3,4,5]

for num in s:
    print(num)

1
2
3
4
5

In [78]:
# while loop

a = 1

while  a < 10:
    print('a is {}'. format(a))
    a = a+1

a is 1
a is 2
a is 3
a is 4
a is 5
a is 6
a is 7
a is 8
a is 9

In [81]:
# range function

range(0,5)
list(range(0,6)) # is same as list(range(6))

[0, 1, 2, 3, 4, 5]

In [80]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [83]:
## List Comprehension

a = [1,2,3,4,5]
b = []

for num in a:
    b.append(num**3)

print(b)

[1, 8, 27, 64, 125]

In [85]:
# now do it using list comprehension without loop

b = [num**3 for num in a]
print(b)

[1, 8, 27, 64, 125]

In [86]:
# Functions in Python

def new_func(param):
    print(param)

In [87]:
new_func('My Name is')

My Name is

In [92]:
def second_func(name):
    print('Hi ' + name)

In [93]:
second_func('Sachin')

Hi Sachin

In [94]:
# using functions to return value

def cube(num):
    return num**3

In [95]:
out = cube(5)

In [96]:
out

125

In [97]:
# Map and Filter functions

def mult4(num):
    return num*4

In [98]:
mult4(20)

80

In [99]:
# map function

s = [1,2,3,4,5,6,7,8,9,10]

map(mult4,s)

In [100]:
list(map(mult4,s)) # map the function to the list

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [101]:
# use lamba expression 
list(map(lambda num:num*4, s))

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [102]:
# filter function

# filter out elements from a sequence, return only even numbers from our list

list(filter(lambda num: num%2 ==0, s))

[2, 4, 6, 8, 10]

In [103]:
# Methods in Pyhton

s = ' Hello my name is Sachin'

s.lower()

' hello my name is sachin'

In [104]:
s.upper()

' HELLO MY NAME IS SACHIN'

In [105]:
s.split()

['Hello', 'my', 'name', 'is', 'Sachin']

In [106]:
lis = [1,2,2,3]

In [107]:
lis.pop()

3

In [108]:
lis

[1, 2, 2]

In [109]:
lis.pop(0)

1

In [110]:
lis

[2, 2]

In [111]:
# tuple unpacking
a = [(1,2), (3,4), (5,6)]

In [112]:
a[0][1]

2

In [114]:
for item in a:
    print (item)

(1, 2)
(3, 4)
(5, 6)

In [115]:
for (x,y) in a:
    print(x)
    print(y)

1
2
3
4
5
6

In [116]:
# Excercise

#What is 7 to the power of 4?

x = 7**4
print(x)

2401

Split this string:

s = "Hi there Sam!"
into a list.

In [119]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

Given the variables:

planet = "Earth"
diameter = 12742
Use .format() to print the following string:

The diameter of Earth is 12742 kilometers.

In [124]:
planet = "Earth"
diameter = 12742

print ('The diameter of {one} is {two} kilometers'. format(one = planet, two = diameter))

The diameter of Earth is 12742 kilometers

In [131]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

# grab word hello

lst[3][1][2][0]

'hello'

In [139]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
# grab word hello

d['k1'][3]['tricky'][3]['target'][3]

'hello'

Create a function that grabs the email website domain from a string in the form:

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [154]:
def mystr(email):
    return email.split('@')[-1]

In [155]:
mystr('sachin_thakur@gmail.com')

'gmail.com'

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [163]:
def mydog(string):
    return 'dog' in string.lower().split()

In [167]:
s = 'My DOG has a name'
mydog(s)

False

In [166]:
s = 'My dogs name is ff'
mydog(s)

False

In [180]:
#Create a function that counts the number of times the word "dog" occurs in a string. 

def dogcnt(string):
          count = 0
          for word in string.lower().split():
                 if word == 'dog':
                        count += 1
          return count

In [181]:
s = 'My DOG has a name'
dogcnt(s)

1

In [182]:
s = 'Dog  DOG game dog'
dogcnt(s)

3

Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [223]:
seq = ['soup','dog','salad','cat','great']

list(filter(lambda word: word[0]=='s',seq))

['soup', 'salad']

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [230]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [231]:
caught_speeding(81,True)

'Small Ticket'

In [232]:
caught_speeding(81,False)

'Big Ticket'